.page {

}

.header {
    background-color: #1f2937;
}

.logo {

}

.links {

}

.banner {
    background-color: #1f2937;
    color: #F9FAF8;
}

.info {

}

.qoute {

}

.call {

}

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}